#!name=Rules
#!desc=Description Here
[Rule]
DOMAIN-KEYWORD,firstrade,HK,extended-matching,pre-matching
DOMAIN-KEYWORD,tradingview,HK,extended-matching,pre-matching
DOMAIN-KEYWORD,wise,HK,extended-matching,pre-matching
DOMAIN-KEYWORD,dropbox,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-KEYWORD,binance,SG,extended-matching,pre-matching
DOMAIN-KEYWORD,aster,SG,extended-matching,pre-matching
DOMAIN-KEYWORD,asterdex,SG,extended-matching,pre-matching
DOMAIN-KEYWORD,google,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-KEYWORD,youtube,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-SUFFIX,scribd.com,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-SUFFIX,scribdassets.com,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-KEYWORD,okx,HK,extended-matching,pre-matching
DOMAIN-KEYWORD,ip.sb,PROXY,extended-matching,pre-matching
DOMAIN-KEYWORD,microsoft, HK,extended-matching,pre-matching
DOMAIN-KEYWORD,xbox,HK,extended-matching,pre-matching
DOMAIN-KEYWORD,ssrdog, NOT_CN_HA,extended-matching,pre-matching
DOMAIN-KEYWORD,crisp.chat,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-KEYWORD,speed.cloudflare.com,PROXY,extended-matching,pre-matching
