#!name=Rules
#!desc=Description Here
[Rule]
DOMAIN-KEYWORD,firstrade,USA,extended-matching,pre-matching
DOMAIN-KEYWORD,tradingview,HK,extended-matching,pre-matching
DOMAIN-KEYWORD,wise,HK,extended-matching,pre-matching
DOMAIN-KEYWORD,dropbox,HK,extended-matching,pre-matching
DOMAIN-KEYWORD,binance,SG,extended-matching,pre-matching
DOMAIN-KEYWORD,aster,SG,extended-matching,pre-matching
DOMAIN-KEYWORD,asterdex,SG,extended-matching,pre-matching
DOMAIN-KEYWORD,cloudflare,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-KEYWORD,google,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-SUFFIX,scribd.com,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-SUFFIX,scribdassets.com,NOT_CN_HA,extended-matching,pre-matching
DOMAIN-KEYWORD,okx,HK,extended-matching,pre-matching
DOMAIN-SUFFIX,speiyou.com,DIRECT,extended-matching,pre-matching
