#!name=Rules
#!desc=Description Here
[Rule]
DOMAIN-KEYWORD,firstrade,🇺🇸 UNITED STATES丨07,extended-matching,pre-matching
DOMAIN-KEYWORD,tradingview,HongKong,extended-matching,pre-matching
DOMAIN-KEYWORD,binance,Singapore,extended-matching,pre-matching
DOMAIN-KEYWORD,asterdex,Singapore,extended-matching,pre-matching
DOMAIN-KEYWORD,cloudflare,Singapore,extended-matching,pre-matching
DOMAIN-KEYWORD,google,Singapore,extended-matching,pre-matching
DOMAIN-SUFFIX,speiyou.com,DIRECT,extended-matching,pre-matching
